.DS_Store
.env
*.log
__pycache__/
node_modules/
latest
# *.csv
backup/
es/
/jupyter/**/*.ipynb
/openSearch/data/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### eunji ###
/project/FISA/eunji/sum_models/t5-large-korean-text-summary/
/project/FISA/eunji/data_extract/t5-large-korean-text-summary/
/project/FISA/eunji/OPENAI_RAG/
/project/FISA/eunji/ES_OPENAI/try1.py
/project/FISA/eunji/ES_OPENAI/try2.py
# /project/FISA/eunji/travel/naver_country
**/venv/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### docker ###
!**/docker/
**/docker/master_db
**/docker/slave_db

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.gradlenode_modules/
latest


jupyter/

/project/DB/airflow/dags/KcElECTRA/pytorch_model.binproject/DB/airflow/dags/KcElECTRA/pytorch_model.bin
