beautifulsoup4==4.12.3
boto3==1.35.49
botocore==1.35.50
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
jmespath==1.0.1
joblib==1.4.2
numpy==2.1.2
pandas==2.2.3
pip==24.2
pycparser==2.22
PySocks==1.7.1
python-dateutil==2.9.0
pytz==2024.2
regex==2024.9.11
requests==2.32.3
s3transfer==0.10.3
sacremoses==0.0.53
setuptools==75.1.0
six==1.16.0
soupsieve==2.5
tqdm==4.66.6
transformers==2.1.1
tzdata==2024.2
urllib3==2.2.3
wheel==0.44.0
win_inet_pton==1.1.0
zstandard==0.23.0
