model_config_list: {
  config: [
    {
      name: "USD",
      base_path: "/Currency_Forecast/models/USD/",
      model_platform: "tensorflow"
    },
    {
      name: "CNY",
      base_path: "/Currency_Forecast/models/CNY/",
      model_platform: "tensorflow"
    },
    {
      name: "EUR",
      base_path: "/Currency_Forecast/models/EUR/",
      model_platform: "tensorflow"
    },
    {
      name: "JPY",
      base_path: "/Currency_Forecast/models/JPY/",
      model_platform: "tensorflow"
    }
  ]
}
